.App {
	text-align: center;
}

.notification-wrapper {
    position: fixed;
    top: 85px;
    right: 50px;
    width: 360px;
    z-index: 9999;
}

.notification-item {
	box-shadow: 0 0 10px rgba(0,0,0, 0.3);
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 20px;
	animation: SlideLeft 0.4s;
	animation-fill-mode: forwards;
	width: 300px;
	background-color: white;
	padding: 0px !important;
}

.notification-item .header {
	display: flex;
	padding: 1% 2%;
}

.notification-item .header .logo-sm {
	margin-right: 2%;
}

@keyframes SlideLeft {
	0% {
			margin-left: 120%;
	}

	100% {
			margin-left: 0;
	}
}

@keyframes SlideRight {
	0% {
			margin-left: 0;
	}

	100% {
			margin-left: 120%;
	}
}

.notification-item.exit {
	animation: SlideRight 0.4s;
	animation-fill-mode: forwards;
}

.notification-item p {
	margin: 0;
	padding: 10px;
}

.notification-item .bar {
	height: 10px;
	background-color: lightblue
	;
}

.notification-item.success .bar {
	background-color: #65d266;
}

.notification-item.error .bar {
	background-color: red;
}

.finger-icon i svg {
    fill: #ffffff;
    width: 65%;
    left: -2%;
    top: 10%;
    position: relative;
    transition: 1s;
}